<h2>My Heroes</h2>

<div>
  <div class="input-group mb-3">
    <input
      #heroName
      type="text"
      class="form-control"
      placeholder="Hero Name"
      aria-label="Username"
      aria-describedby="basic-addon1"
    />
    <div class="input-group-prepend">
      <button
        (click)="add(heroName.value); heroName.value = ''"
        class="input-group-text"
      >
        Adicionar Novo
      </button>
    </div>
  </div>

  <!-- (click) passes input value to add() and then clears the input -->
</div>

<table class="table table-striped table-hover table-sm table-responsive-xs">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroes" routerLink="/detail/{{hero.id}}">
      <td>{{ hero.id }}</td>
      <td>{{ hero.name }}</td>
      <td>
        <a
          ><i
            class="fa fa-trash fa-2x"
            aria-hidden="true"
            (click)="delete(hero)"
          ></i
        ></a>
      </td>
    </tr>
  </tbody>
</table>

<!--
  Copyright 2017-2018 Google Inc. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
-->
